.Konyv{
    margin: 10px;
    flex: 0 0 20%;
    height: 200px;
    border: 1px solid black;
    background-color: #d0d2d6;
    border-radius: 5px;
}

.Cim{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #5b6475;
}

.Szerzo{
    

}
.Ar{
      
}